<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div clsss="form-group">
        <form #f="ngForm" (ngSubmit)="submit(f.value)">
            <div class="form-control"><input type="text" name="username" placeholder="username" ngModel>
            </div>
            <div class="form-control"><input ngModel #password="ngModel" type="password" name="password"
                    placeholder="password"></div>
            <div class="form-control"><button type="submit">submit</button></div>
        </form>
    </div>
</body>

</html>